//
   Created by tabradford on 4/12/2016.
   -var list = ['1','2','18','...']
html
    head
        title Tim's App
    body(class='ClassBody')
        h1(id='GoodId') My Supper cool Jade File!
        p
            h3 I am doing some sub heading work over here ^_^
            ul
                each val in list
                    li= val
